{% extends 'base.html' %}
{% load static %}

{% block title %}
	Персонал
{% endblock %}


{% block content_title %}
	Персонал
{% endblock %}

{% block content %}
	<div class="row">

		<div class="col-md-3">
			<ul class="nav flex-column nav-pills">
				<li class="nav-item">
					<a class="nm nav-link {% if number == 'all' %} active2 {% endif %}" href="{% url 'doctors' slug='all' %}">Все специалисты</a>
				</li>
				{% for item in position %}
					<li class="nav-item">
						<a class="nm nav-link {% if number == item.slug %} active2 {% endif %}" href="{% url 'doctors' slug=item.slug %}">{{ item }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="col-md-9">
			
			<ul class="dict nav nav-pills d-flex justify-content-center">
			{% for item in dictionary %}

  				<li class="nav-item">
    				<a class="dictionary nav-link {% if letter == item %} active2 {% endif %}" href="./?letter={{ item }}">{{ item }}</a>
 				 </li>

			{% endfor %}
				<li class="nav-item">
			        <a class="dictionary nav-link {% if letter == '' %} active2 {% endif %}" href="./">Все буквы</a>
			    </li>
			</ul>
			
			<div class="row">
				{% for item in doc %}
					<div class="col-md-4 col-6 doc-box" onclick="location.href='{% url 'doctor_detail' id=item.id %}';">
						<img class="doc-img img-fluid  rounded" src="{% static 'images/doctors/' %}{{ item.id }}.jpg">
						<p class="f">{{ item.user.last_name }} {{ item.user.first_name }} {{ item.middle }}</p>
						<p class="s">{{ item.position }}</p>
					</div>
				{% endfor %}
			</div>

			{% if is_paginated %}
			<ul class="offset-1 col-10 d-flex justify-content-center paginationf pagination">
			    <li class="page-item {% if not prev_url %} disabled {% endif %}">
			        <a class="page-link" href="./{{ prev_url }}" tabindex="-1">Обратно</a>
			    </li>
			    {% for item in doc.paginator.page_range %}
			    <li class="page-item {% if item == doc.number %} active2 {% endif %}">
			        <a class="page-link" href="./?page={{ item }}">{{ item }}</a>
			    </li>
			    {% endfor %}
			    <li class="page-item {% if not next_url %} disabled {% endif %}">
			        <a class="page-link" href="./{{ next_url }}">Туда</a>
			    </li>
			</ul>
			{% endif %}

		</div>
	</div>
{% endblock %}