{% extends 'base.html' %}
{% load static %}

{% block title %}
	Услуги и цены
{% endblock %}

{% block content_title %}
	Услуги и цены
{% endblock %}

{% block content %}
	<table class="table">
		<thead>
		    <tr>
			    <th scope="col">НАИМЕНОВАНИЕ УСЛУГИ</th>
			    <th scope="col">ЦЕНА</th>
		    </tr>
	  	</thead>
	  	<tbody>
			{% for item_pos in positions %}
				<tr class="main-line">
					<td><b>{{ item_pos }}</b></td>
					<td></td>
				</tr>
				{% for item_serv in services %}
					{% if item_serv.position == item_pos %}
						 <tr>
						 	<td>{{ item_serv.name }}</td> 
							<td>{{ item_serv.cost }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}